body {
    line-height: 1.6;
    font-family: "Courier New", sans-serif;
    font-size: 18px;
    color: #222;
}

h1,
h2,
h3 {
    line-height: 1.2
}

div.header h1{
    padding-top: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid;
    box-sizing: border-box;
}

.header-menu {
    float: right;
}

ul.pagination {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

ul.pagination > li {
    padding: 0 8px;
    display: inline-block;
}

div.footer {
    border-top: 1px solid;
    text-align: left;
    bottom: 0;
    margin-left: 60px;
    margin-right: 60px;
}

div.titleBlock {
  text-align: left;
  margin-left: 60px;
  margin-right: 60px;

}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* box-sizing: border-box;
    width: 100% */
    padding-left: 25px;
    padding-right: 25px;
}

.root {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.border-box {
    box-sizing: border-box;
    margin-bottom: 20px
}

.text-box {
    box-sizing: border-box;
    text-indent: 22px;
    margin-bottom: 20px;
}

.text-page {
    box-sizing: border-box;
    text-indent: 22px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.caption {
    box-sizing: border-box;
    margin-bottom: 20px;
}
